.card-call {
    border-radius: 20px;
    height: 100%;
}

.card-atend {
    height: 45%;
    border-radius: 20px;
}

.callout-call {
    margin: 0;
    border-radius: 20px;
    height: 100%;
}

.chart-line-call {
    height: 15em;
}

.call-title {
    font-size: 16pt;
}

.call-sub {
    font-size: 10pt;
}

.btn-filter-call {
    text-align: right;
}

.call-sub-title {
    font-size: 18px;
    font-weight: 500;
}

.card-protocolo-call {
    height: 100%;
    border-radius: 20px;
}


.card-calender-call,
.calender {
    width: 100%;
    border-color: white;
    letter-spacing: 1px;
    align-items: center;
    font-size: 10pt;
    border-radius: 20px;
}