.nav-defaulters {
    background: #E1E1E1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.nav-defaulters:hover {
    background: #216CFF;
    color: white;
}

.nav-defaulters-active {
    background: #216CFF;
    cursor: pointer;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.nav-non-defaulters {
    background: #E1E1E1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.nav-non-defaulters:hover {
    background: #216CFF;
    color: white;
}

.nav-non-defaulters-active {
    background: #216CFF;
    cursor: pointer;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0.5%;
    margin-right: 0.5%;
}