.device-container {
    border-radius: 20px;
}

.menu-device-container {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 1%;
    /* background: #AEAEAE; */
}

.newUser {
    margin-right: 10px;
}

.collun-actions {
    background: chocolate;
}

.nav-complete {
    background: #E1E1E1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.nav-complete:hover {
    background: #216CFF;
    color: white;
}

.nav-complete-active {
    background: #216CFF;
    cursor: pointer;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

/* ---------------------------------------- */
.nav-in-process {
    background: #E1E1E1;
    cursor: pointer;
    height: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.nav-in-process:hover {
    background: #216CFF;
    color: white;

}

.nav-in-process-active {
    background: #216CFF;
    cursor: pointer;
    color: white;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}