.container-card-insured{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    
}


/* Header num contract */
.container-header-contract{
    width: 100%;
}

.titulo-contract{
    font-size: 10pt;
}

.titulo-infos{
    font-size: 12pt;
    font-weight: 600;
}

.container-contract-item{
    text-align: center;
}

.container-dados-ocorrencia{
    margin-top: 1%;
    background: rgb(218, 218, 218);
    width: 100%;
    border-radius: 10px;
    
    padding-bottom: 1%;
}



/*  CSS DO CONTEUDOS */

.titulo-container-card{
    padding-left:1%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    width: 100%;
    background: rgb(204, 204, 204);
    font-size: 14pt;
}
.titulo-container-card2{
    padding-left:15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    /* width: 100%; */
    /* background: rgb(204, 204, 204); */
    font-size: 14pt;
}

.container-conteudo{
    margin-left: 0%;
    margin-right: 0%;
}

.container-dados-ocorrencia{
    width: 100%;
    background: rgb(228, 228, 228);
    padding: 1%;
}
.conteudo-label-titulo{
    font-size: 10pt;
}

.conteudo-label-info{
    font-size: 12pt;
}

.conteudo-label-info-sublinhado{
    font-size: 12pt;
    text-decoration: underline;

}
.containters-ocorrencia{
    margin-top: 1%;
}

/*  label valores */

.subtituloTipoData{
    font-weight: 700;
    margin-top: 1%;
}


.subtituloTipoData2{
    font-weight: 700;
}