.btn1Chamados{
    float: right;
}

.cardEsquerda{
    border-radius: 10px;
}

.cardDireita{
    height: 100%;
    border-radius: 10px;

  
}

.container-atendimentos{
    background:rgb(147, 255, 153);
    border-radius:5px;
    margin-top:10%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    padding: 4%;
}

.container-atendimentos-fechado{
    background:rgb(255, 126, 126);
    border-radius:5px;
    margin-top:5%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    padding: 3%;
}

.cardProtocolo{
    height: 100%;
    border-radius: 10px;
}


.cardDireita .calendarioCss2{
    margin-top: 5%;
    width: 100%; /*vw; */
    border-color: white;
    letter-spacing: 1px;
    align-items: center;
    font-size: 10pt;
}

.text-render-calendar{
    font-size: 10pt;
}
