.fincTitulo{
    font-size:16pt;
}

.cardsFinance{
    border-radius: 20px;
}

/* Calendario  */
.cardsFinance3{
    border-radius: 20px;
    align-items: center;
    height: 98%;
 

}

.cardsFinance3 .calendarioCss{
    width: 100%; /*vw; */
    border-color: white;
    letter-spacing: 3px;
}

.container-user-ranking{
    padding: 3%;
    margin-top: 5%;
    border-radius: 10px;
    /* background: rgb(219, 217, 217); */
}

.fincSub{
    font-size: 10pt;
}

.direita-container-top-card{
    text-align:right;

}

.dir23{
    float: right;
}

.cor1{
    width: 10px;
    height: 10px;
    background: red;
}


.fundoTeste{
    background: red;
}

.esqTeste{
    background: green;
}

.dirTeste{
    background: indigo;
}
.buttonCss{
    margin-right: 10px;
}

.calendarioCss{
    width: 100%; /*vw; */
    border-color: white;
    letter-spacing: 1px;
    align-items: center;
    font-size: 10pt;
}

.text-container-users{
    font-size: 10pt
}