.container-devices-pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #f2f2f3;
    margin-top: 5%;
    position: inline-end;
    border-radius: 20px;
}

.container-qtd-employeer {
    position: initial;
    padding-left: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    width: 100%;
}

.container-pagination-align {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 3em;
}


.btn-user-pagination {
    margin: 0.5%;
    border-radius: 8px;
}